.git
.gitignore
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
storage/*.key
storage/pail
npm-debug.log
yarn-error.log
.phpactor.json
Homestead.json
Homestead.yaml
.fleet
.idea
.nova
.vscode
.zed
.qodo
README.md
tests
.phpunit.xml
docker-compose.yml
Dockerfile
.dockerignore

